.class{
    cursor: crosshair;
}
.class1{
    background-color: black;
    color: antiquewhite;
    cursor: not-allowed;

}
.class1:hover{
    background-color: blue;
}
.class2{
    background-color: rgb(117, 61, 61);
    color: bisque;
    cursor: cell;
}
.class3{
    background-color: aqua;
    cursor: progress;
}
.class4{
    cursor: w;
}