table,th,td{
    border: 1px solid;
}
 table{
    border-collapse: collapse;
    width: 100%;
 }
 th{
    background-color: rgb(6, 158, 18);
 }
 .class1{
    background-color: rgb(212, 93, 113);
 }
td{
    height: 60px;
    width:auto
}


 