table,th,td{
    border: 1px solid;
}
table{
    border-collapse: collapse;
    width:100%
}
th,td{
    padding: 8px;

}

th{
height: 50px;
}
tr:nth-child(even){
  background-color: hotpink;
}
tr:nth-child(odd){
    background-color: rgb(245, 141, 106);
}

td:hover{
    background-color: crimson;
}