<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="layout10.css">
</head>
<body>
    <h1 class="h1">about kundavai</h1>
    <p class="p1">Kundavai married Vallavaraiyan Vandiyadevan, a member of the Bana Dynasty, a feudatory of the Cholas mentioned in the 
        Tanjore inscriptions.[5] He was also the commander of the Chola infantry that fought in Sri Lanka in the days of Rajaraja l. 
        The territory under his authority was known as 'Vallavaraiyanadu', and occasionally 'Brahmadesam'.</p>
        <h1>about nandhini</h1>
        <p class="p3">Nandhini: Pazhuvoor Queen and wife of Periya Pazhuvettaraiyar whose birth and origin was doubtful in the beginning.
             The main antagonist of the story. She was born in Madurai and grew up in a priest family along with royal children
              in Pazhayarai until her youth. She is the foster-sister of Azhwarkadiyan Nambi. She hated Kundavai as Kundavai was 
              jealous of Nandhini's beauty. Nandhini and Prince Aditya Karikalan developed a liking for each other in their 
              childhood which nobody in the royalty liked. She was forced to flee Pazhaiyarai and live in Madurai. After Aditya 
              Karikalan beheaded the injured Veerapandiyan, Nandhini joined Pandya conspirators and vowed to avenge Veerapandiyan's
               death by killing Karikalan and destroying the Chola dynasty. By marrying Periya Pazhuvettaraiyar who had lusted for
                her and by using him, she helped the Pandya conspirators. She married Aditha to involve him. She had a deep hatred
                 towards the Chola royals for their ill-treatment and also had a desire for the throne. She had a terrible childhood that affected her badly and wanted to be
             with her mother Mandakini. Parthibendra Pallava and Kandanmaran fell for her beauty and she used them for her plot too. </p>
             <h1 class="h2">about vandhiyadevan</h1>
             <p class="p2">Vallavaraiyan Vandiyadevan was a commander of the Chola Army. He was one among the famous chieftains of 
                the Chola emperors Rajaraja I and Rajendra I and chief of the Samanthas of Chittoor and also the husband 
                of Rajaraja's elder sister Kunthavai Pirattiyar.[1] He was also the chieftain of the Sri Lanka Front Army
                 of Rajaraja l and Rajendra I. Territory under his authority was known as Vallavaraiyanadu. He ruled
                  Brahmadesam.[2] Vandiyathevan is idealized in Kalki Krishnamurthy's (Kalki) famous novel Ponniyin Selvan
                   and also in many other novels like Vandiyadevan Vaal, Vandiyadevan Senai Thalaivan.
             </p>
             <h1 class="h3">about arulmozhivarman </h1>
             <p class="p3">Rajaraja's ascension ended a period of rival claims to the throne, following the death of his great-grandfather Parantaka I. 
                After Parantaka I, his elder son Gandaraditya ascended the throne. At the time of Gandaraditya's death, his son
                 Madhurantakan was a minor, so the throne passed on to Parantaka I's younger son Arinjaya. Arinjaya died soon, and
                  was succeeded by his son Parantaka II, also known as Sundara Chola. It was decided that the throne would pass on to
                   Madhurantakan after Sundara: this decision was most probably that of Sundara himself, although the Thiruvalangadu 
                   inscription of Rajaraja's son Rajendra I claims that it was made by Rajaraja.</p>
                   
</body>
</html>