.p1{
    background-color: yellow;
    width: 30%;
}
.p2{
    background-color: rgb(24, 199, 199);
    padding: 25px;
    border: 25px;
    width: 30%;
}
.p3{
    background-color:purple;
    padding: 20px 10px 0px 0px;
    border: 25px;
    width: 30%;
}
.p4{
    background-color:rgb(19, 201, 19);
    padding-left:60px ;
    border: 25px;
    width: 25%;
}
.p5{
    background-color: rgb(54, 197, 25);
    padding: 0px 20px 10px 0px;
    border: 25px;
    width: 30%;
}