#name1{
    font-weight:5000 ;
    background-color: black;
    color: white;
    text-align: center;

}
#name2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: orange;
    background-color: black;
}