
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="template6.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
    <div class="header">
        <div class="logo">
            <img src="https://thumbs.dreamstime.com/z/mountains-mountain-logo-vector-icon-template-design-emblem-illustration-outdoor-adventure-186166552.jpg">

           <div class="icon">
            <i class="fa-solid fa-location-crosshairs"></i>
            
            <p>jionwed@gmail.com</p>
           </div>
           <div class="icon">
            <i class="fa-regular fa-envelope"></i><p>jionwed@gmail.com</p>
           
           </div>
           

        </div>
     
    </div>
    <div class="nav">
        <ul type="none" class="navv">
            <li><a href="#">HOME</a></li>
            <li><a href="#">ABOUT US</a></li>
            <li><a href="#"><li>ACADEMICS</a></li>
            <li><a href="#"><li>SCHOOL LIFE</a></li>
            <li><a href="#"><li>NEWS</a></li>
            <li> <a href="#"><li>CALENDER</a></li>
            <li> <a href="#"><li>CONTACT</a></li>
           
            
        </ul>
        <div class="icons">
            </div>
    </div>
    <div class="img">
        <p class="para1" style="text-align: center;"><br> <br>We develop custom</p>
    </p>
    <p class="para2">Investing Strategy</p> </p>
    
    </div>
       
 
</div>
<div class="divv">
    <div class="box1">
        <h2>Market<br>Forecasting</h2>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eum deleniti quas obcaecati tenetur et? Optio dicta repellendus velit est voluptatibus impedit, reprehenderit, ipsum rerum ipsa illum ex iure eaque cupiditate?</p>
    </div>
    <div class="box2">
        <h2>Market<br>Forecasting</h2>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eum deleniti quas obcaecati tenetur et? Optio dicta repellendus velit est voluptatibus impedit, reprehenderit, ipsum rerum ipsa illum ex iure eaque cupiditate?</p>
    </div>
    <div class="box3">
       <h2> Market<br>Forecasting</h2>
       <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eum deleniti quas obcaecati tenetur et? Optio dicta repellendus velit est voluptatibus impedit, reprehenderit, ipsum rerum ipsa illum ex iure eaque cupiditate?</p>
    </div>
</div>
<div class="footer">
    <div class="box">
        <h2>About Us</h2>
        <p>Lorem ipsum dolor sit, amet consectetur unde adipisci culpa harum invento laudantium voluptatem doloremque, illo, excepturi provident quos facilis hic rem iste saepe numquam nesciunt. Aliquam praesentium necessitatibus fugit architecto eos aut quam excepturi ratione ducimus, laudantium dolorum nam sapiente a alias facilis.</p>
    </div>
    <div class="box">
        <h2>Planning</h2>
        <p>Lorem ipsum dolor sit, amet consectetuadipisci culpa harum inventore laborentium voluptatem doloremque, illo, excepturi provident quos facilis hic rem iste saepe numquam nesciunt. Aliquam praesentium necessitatibus fugit architecto eos aut quam excepturi ratione ducimus, laudantium dolorum nam sapiente a alias facilis.</p>
    </div>
    <div class="box">
        <h2>Management</h2>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Minus quidem u harum inabore libero eveniet laudantium voluptatem doloremque, illo, excepturi provident quos facilis hic rem iste saepe numquam nesciunt. Aliquam praesentium necessitatibus fugit architecto eos aut quam excepturi ratione ducimus, laudantium dolorum nam sapiente a alias facilis.</p>
    </div>
</div>
</div>
</body>
</html>    
                    
                    
                    