<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="template5.css">
</head>
<body>
    <div class="header">
        
    <div class="img"><img src="https://cdn.vectorstock.com/i/preview-1x/95/79/ngo-or-non-governmental-organization-to-serve-vector-44289579.jpg" width="200" height="40"></div>


    <div class="navlist">
        <a href="#">HOME</a>
        <a href="#">About Us</a>
        <a href="#">Program</a>
        <a href="#">Gallery</a>
        <a href="#">Join us</a>
    </div>
<div class="whole">
    <h2 class="cls1">Together We Can</h2>
    <h1 class="cls2">SAVE LIVES</h1>
    <p class="para">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aliquam quibusdam consequatur praesentium, voluptates minus reiciendis tempore repudiandae sit aut doloremque consectetur libero atque? Possimus recusandae eum eveniet animi laborum dignissimos!</p>
     
    <button class="btn">Start with a little</button>
</div>
    
</body>
</html>