<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="template3.css">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="para"><i class="fa-solid fa-scissors"></i>BARBER</div>
        <div class="para1">MY WEBSITE</div>
        <div class="para2"><i class="fa-solid fa-rectangle-list"></i></i></div>
        <input class="btn" type="button" value="FIND OUT"> <input class="btn2" type="button" value="READ MORE">
        p" height="700px" width="100%"></div>
       
    </div>
</body>
</html>
