
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet"  href="temp7.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
    <div class="header">
        <div class="logo">
            <img src="https://t3.ftcdn.net/jpg/03/82/52/88/360_F_382528893_kscSzE6TPttL5vhWQbyRkvKa58y8pA3P.jpg">
           
                <div class="icon">
                    <i class="fa-regular fa-square-check"></i>
                    <h3>Our Calender</h3>
                    <h4>see important dates</h4>
                </div>
                <div class="icon2">
                    <i class="fa-regular fa-square-check"></i>
                    <h3>Ed Alumini</h3>
                    <h4>Advisory council</h4>
                </div>
                <div class="icon3">
                    <i class="fa-regular fa-square-check"></i>
                    <h3>Welcome to Ed Alumini</h3>
                    <h4>Parents,Teacher,Pupil</h4>
                </div>
           

        </div>
     
    </div>
    <div class="nav">
        <ul type="none" class="navv">
            <li><a href="#">HOME</a></li>
            <li><a href="#">ABOUT US</a></li>
            <li><a href="#"><li>ACADEMICS</a></li>
            <li><a href="#"><li>SCHOOL LIFE</a></li>
            <li><a href="#"><li>NEWS</a></li>
            <li> <a href="#"><li>CALENDER</a></li>
            <li> <a href="#"><li>CONTACT</a></li>
           
            
        </ul>
        <div class="icons">
            <i class="fa-brands fa-twitter"></i>
            <i class="fa-brands fa-facebook"></i>
            <i class="fa-brands fa-linkedin"></i>
            <i class="fa-brands fa-google"></i>
        </div>
    </div>
    <div class="image">
        <img src="https://previews.123rf.com/images/rosipro/rosipro1303/rosipro130300052/18294159-four-happy-teenage-girls-friends.jpg">
           <div class="title">
    <h2 >
        Ideas are worth spending
       </h2>
       <h3>Hannah,leo 7th grade</h3>
   </div>
   <div class="content">
    <div class="content1">
        <i class="fa-solid fa-bell" ></i> <h2>Welcome to Ed school</h2>
       
        <p>Lorem ipsum dolor, sit amet consectetur adipisicingaceat inventore tenetur voluunt quis iente minus animi consequuntur voluptatem facilis iste esse ad tempora, doloribus officia ratione!</p>
    </div>
    <div class="content2">
        <i class="fa-solid fa-bus"></i><h2>Welcome to Ed school</h2>
        <p>Lorem ipsum dolor, sit amet consectetur adipisiciiat eius animi deserunm laborum, veritatis temporibus molestias consequuntur.</p>
    </div>
    <div class="content3">
        <i class="fa-brands fa-searchengin"></i> <h2>Welcome to Ed school</h2>
        <p>Lorem ipsum dolor sit amet consecteturabore architecto ipsam sapientetur eveniet quae officiis voluptate, ex nihil obcaecati. Reiciendis maxime temporibus aliquam!</p>
    </div>
    <div class="content4">
        <i class="fa-solid fa-star"></i> <h2>Welcome to Ed school</h2>
        <p>Lorem ipsum dolor sit amet conseore architecto ipsam sapiente quia et quais maxime temporibus aliquam!</p>
    </div>
   </div>
    </div>
</body>
</html>