.header{
    width: 100%;
    height: 650px;
    background-image: url('https://img.freepik.com/premium-photo/lonely-sad-girl-home-saddened-alarmed-child-alone-home_441923-6109.jpg?w=2000');
    background-repeat: no-repeat;
    background-size: cover;
  
}
.img{
    display: flex;
    background-color: rgba(0, 0, 0, 0.459);
    box-shadow: 13px 13px 13px 13px black;
  
}
.navlist a{
    text-decoration: none;
    color:white;
    background-color: rgb(122, 124, 126);
    padding:20px;
    font-size: 25px;
    cursor:pointer;
    

}
.navlist{
    padding:30px;
    position: absolute;
    left: 700px;
    top: 0px;
}

.btn{
    width:180px;
    height:40px;
    font-size:20px;
    background-color: red;
    color:white;
    cursor:pointer;
}
.whole{
position: absolute;
left: 300px;
top: 190px;
}
.cls1{
    font-size: 60px;
}
.cls2{
    color: rgb(252, 243, 243);
    background-color: red;
    width:200px;
    height: 40px;
    
}
.para{
    width:500px;
}